# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
/LargeDemo1.sdf
/LargeDemo1.v11.suo
/Debug
/ipch
/x64

/LargeDemo1/x64
/LargeDemo1/Debug

/build
/*.opensdf

/*.suo
